<h1>Contents#index</h1>
<p>Find me in app/views/contents/index.html.erb</p>
<%= link_to '새 글 쓰기', new_content_path %>
<br>
<br>
<% @contents.each do |content| %>
    <!--<a href='/contents/<%#= content.id %>' style='text-decoration: none; color: black'><%#= content.title %></a>-->
    <a href='<%= content_path(content) %>' style='text-decoration: none; color: black'><%= content.title %></a>
    <%= link_to '수정하기', edit_content_path(content) %>
    <%= link_to '삭제하기', content, method: :delete, data: {confirm: '정말 삭제하시겠습니까?' } %>    
    <br>
<% end %>


전체
<br>
<% @contents.each do |p| %>
    <%= p.user.email %><br>
    <%= p.title %><br>
    <%= link_to '이 글 보기', content_path(p.id) %> |
    <% if current_user %>
        <% if p.user.id == current_user.id %>
            <%= link_to '수정하기', edit_content_path(p.id) %> |
            <%= link_to '삭제하기', content_path(p.id), method: :delete, data: { confirm: '이 글을 삭제하시겠습니까?'} %>
        <% end %>
    <% end %>
    <br>
<% end %>

<hr>
