<h1>Contents#show</h1>
<p>Find me in app/views/contents/show.html.erb</p>
<h2>제목: <%= @content.title %></h2>
<p>내용: <%= simple_format(@content.body) %></p>

<% @content.comments.each do |cmt| %>
    <%= cmt.body %><br>
<% end %>

<hr>

<%#= form_for @comment, url: content_comments_path(content_id: @content.id ) do |f| %>
<%= form_for [@content, Comment.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>



<%= link_to '전체글 보기', contents_path %>