<h1>Sign up</h1> 

 
<%= form_for @user do |f|%> 
     email 
     <%=f.email_field :email, value: params[:email] %><br> 
     
     nickname
     <%=f.text_field :nickname %><br>
     
     password 
     <%=f.password_field :password %><br> 
     
     password confirm 
     <%=f.password_field :password_confirmation%><br> 
     
     <%=f.submit 'Sign up'%><br> 
 <%end%> 